.About-us {
width: 100%;
text-align: center;
background-color: orange;
margin-top: 0px;
margin-bottom: 0px;
}
h1{
color: red;
font-size: 40px;
}
img {
border-radius: 50%;
}
button{
text-align:right-side;
padding:7px;
margin-bottom:8px;
border-width:0px;
}
a{
font-size:20px;
text-decoration:none;
color: black;
}
p {
font-size: 20px;
}
h3 {
text-shadow: ;
color:blue;
}